/*General Styling*/	
h1 {
    margin: 10px;
	white-space: nowrap;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
}
h2 {
    margin: 14px;
	white-space: nowrap;
	color: #FFF;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
}
h3 {
    margin: 10px;
	white-space: nowrap;
	color: #FFF;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
	}

/*Background Styling*/	
.bgd1 { background-image: url(../img/bgd1.jpg) !important; } 
.bgd2 { background-image: url(../img/bgd2.jpg) !important; } 
.bgd3 { background-image: url(../img/bgd3.jpg) !important; } 
.bgd4 { background-image: url(../img/bgd4.jpg) !important; } 
.bg{
	width: 105%;
	height: 105%;
	z-index: -1;
	background: url('../img/bgd1.jpg') fixed center / cover;
	position: fixed;
	margin-top: -10;
	margin-bottom: -10;
	margin-left: -10;
	margin-right: -10;
}

/*Center Block Styling*/
#center{
	position:relative;
	top:30;
	width: 900px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	text-align; center;
}

/*Title Block Styling*/
#title-0{
	position: relative;
	width: 900px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.3);
	border-style: solid;
	border-width: 1px;
	border-color: rgba(255, 255, 255, 0.1);
	box-sizing: border-box;
}
.title-0:hover ~ .menu-0{
	opacity:1;
}
.title-0:hover ~ .menu-button-0{
	opacity:1;
}
#title-1{
	position: absolute;
	margin-left: 0;
	width: 300px;
	height: 60px;

}
#title-2 {
	position: absolute;
	margin-left: 300px;
	width: 600px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.3);
	border-style: solid;
	border-width: 1px;
	border-color: rgba(255, 255, 255, 0.1);
	box-sizing: border-box;
}

/*Menu Block Styling*/
.menu-0 {
	transition: opacity 0.5s;
	opacity: 0;
}
.menu-0:hover .menu-button-0{
	opacity: 1;
}

#menu-1 {
	position: relative;
	width: 900px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.3);
	border-style: solid;
	border-width: 1px;
	border-color: rgba(255, 255, 255, 0.1);
	box-sizing: border-box;
}
#menu-1:hover {
	opacity: 1;
}

/*Menu Button Styling*/
.menu-button-0 {
	position: absolute;
	width: 100px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.3);
	border-style: solid;
	border-width: 1px;
	border-color: rgba(255, 255, 255, 0.1);
	box-sizing: border-box;
}
.menu-button-0:hover{
	background-color: rgba(255, 0, 0, 0.3);
}
#menu-button-1{
	margin-left: 0;
}
#menu-button-2{
	margin-left: 100;
}
#menu-button-3{
	margin-left: 200;
}
#menu-button-4{
	margin-left: 300;
}
#menu-button-5{
	margin-left: 400;
}
#menu-button-6{
	margin-left: 500;
}
#menu-button-7{
	margin-left: 600;
}
#menu-button-8{
	margin-left: 700;
}
#menu-button-9{
	margin-left: 800;
}

/*Content Block Styling*/
#content {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	height: 750px;
	top: 0px;
}
.content-0 {
	position: relative;
	width: 900px;
	height: 750px;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.3);
	border-style: solid;
	border-width: 1px;
	border-color: rgba(255, 255, 255, 0.1);
	box-sizing: border-box;
	color: #FFF;
}
